    header {
        top: 0;
        left: 0;
        margin-top: 1.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        .header {
            width: 80%;
            padding-bottom: 2em;
            border-bottom: 1px solid $grayisBlue;
            .header__menu {
                display: none;
            }
            div {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            &__logo {
                float: left;
                width: 120px;
            }
            nav {
                width: 100%;
                ul {
                    display: flex;
                    .preview__container-close {
                        display: none;
                    }
                    li {
                        padding-left: 2em;
                        list-style: none;
                        a {
                            color: $grayisBlue;
                            text-decoration: none;
                            position: relative;
                            padding: 3.1rem 0;
                            font-size: .9rem;
                            &:hover {
                                color: $darkGrayishBlue;
                            }
                            &::before {
                                transition: 300ms;
                                height: 5px;
                                content: "";
                                position: absolute;
                                background-color: $orange;
                            }
                        }
                        .nav-link::before {
                            height: 0%;
                            width: 100%;
                            bottom: 0px;
                        }
                        .nav-link:hover::before {
                            height: 5px;
                        }
                    }
                }
            }
            &__avatar {
                float: right;
                padding-left: 2em;
                img {
                    width: 2.85em;
                    border-radius: 50%;
                    border: 2px solid transparent;
                    &:hover {
                        border: 2px solid $orange;
                        cursor: pointer;
                    }
                }
            }
            &__cart {
                float: right;
                padding-left: 2em;
                &-active {
                    position: absolute;
                    width: 18rem;
                    height: 14rem;
                    background-color: $white;
                    right: 2%;
                    top: 13%;
                    transform: translate(-2%, -13%);
                    z-index: 1000;
                    border-radius: 5%;
                    -webkit-box-shadow: 0px 9px 25px -15px rgba(29, 32, 37, 0.87);
                    box-shadow: 0px 9px 25px -15px rgba(29, 32, 37, 0.87);
                    div {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        height: 100%;
                        width: 100%;
                        padding: .5em;
                        .cart-title {
                            text-align: left;
                            width: 100%;
                            background-color: $white;
                            color: $darkBlue;
                            border-bottom: 1px solid $grayisBlue;
                            font-weight: 700;
                            height: 20%;
                            border-top-left-radius: 20%;
                            border-top-right-radius: 20%;
                            h4 {
                                align-self: flex-start;
                                padding: 0 1em;
                                font-size: .8rem;
                                color: $darkBlue;
                            }
                        }
                        .cart-body {
                            font-weight: 700;
                            color: $darkGrayishBlue;
                            font-size: .8rem;
                        }
                    }
                }
                svg path {
                    fill: $grayisBlue;
                }
                div:hover {
                    cursor: pointer;
                    svg path {
                        fill: $darkGrayishBlue;
                    }
                }
            }
        }
    }
    
    @media only screen and (max-width: 350px) {
        header {
            .header {
                &:__logo {
                    svg {
                        width: 100px;
                        height: 10px;
                    }
                }
            }
        }
    }
    
    @media only screen and (max-width: 450px) {
        header {
            #cart-active-mobile {
                top: 3.5rem;
                position: absolute;
                left: 50%;
                top: 12%;
                transform: translate(-50%, -12%);
                width: 90%;
            }
        }
    }
    
    @media only screen and (max-width: 750px) {
        header .header {
            border-style: none;
            padding-bottom: 0;
            .header__menu {
                display: block;
                margin-right: 1em;
                margin-bottom: -.5em;
                &:hover {
                    cursor: pointer;
                }
            }
            nav {
                display: none;
            }
            .active {
                display: flex;
                position: absolute;
                left: 0;
                top: 0;
                background-color: rgba(0, 0, 0, .75);
                ;
                z-index: 9999;
                margin: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
                ul {
                    display: flex;
                    flex-direction: column;
                    margin-top: 1.5rem;
                    background-color: $white;
                    margin: 0;
                    width: 70%;
                    .preview__container-close {
                        display: block;
                        margin: 2.5rem 0;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                    li {
                        margin-bottom: 1.2rem;
                        a {
                            color: $darkBlue;
                            font-weight: 700;
                            padding: .5rem 0;
                        }
                    }
                }
            }
            &__avatar {
                img {
                    width: 1.4rem;
                }
            }
        }
    }
    
    @media screen and (max-width: 900px) and (min-width: 750px) {
        header {
            .header {
                nav {
                    ul {
                        li {
                            padding-left: 1.2em;
                            a {
                                font-size: .7rem;
                            }
                        }
                    }
                }
                &__avatar {
                    padding-left: 1.2em;
                    img {
                        width: 1.85em;
                    }
                }
                &__cart {
                    padding-left: 1.2em;
                }
            }
        }
    }