body {
    overflow-x: hidden;
}

.preview__modal {
    position: fixed;
    z-index: 2000;
    background-color: rgba(0, 0, 0, .7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
    .preview__wrapper {
        display: grid;
        place-content: center;
        width: 100%;
        height: 100%;
        .preview__container {
            width: 25rem;
            height: 25rem;
            margin: 0 auto;
            background-color: transparent;
            display: grid;
            place-content: center;
            .preview__main {
                position: relative;
                img {
                    width: 100%;
                    display: block;
                    border-radius: 4%;
                }
            }
            .img-container {
                width: 4rem;
            }
            &-close {
                width: 1.2rem;
                display: grid;
                place-content: center;
                position: absolute;
                right: 0;
                top: -2rem;
                svg path {
                    fill: $white;
                    cursor: pointer;
                }
            }
            .backwards {
                position: absolute;
                top: 50%;
                left: -5%;
                background-color: $white;
                margin: 0;
                border-radius: 2rem;
                padding: .6rem .8rem;
                .left-arrow {
                    fill: none;
                    stroke: $black;
                    stroke-width: 3;
                    transform: translateX(-0.1em) translateY(0.1em);
                }
                &:hover {
                    cursor: pointer;
                }
                &:hover .left-arrow {
                    stroke: $orange;
                    cursor: pointer;
                }
            }
            .forwards {
                position: absolute;
                top: 50%;
                right: -5%;
                background-color: $white;
                margin: 0;
                border-radius: 2rem;
                padding: .6rem .8rem;
                &:hover {
                    cursor: pointer;
                }
                .right-arrow {
                    fill: none;
                    stroke: $black;
                    stroke-width: 3;
                    transform: translateX(0.1em) translateY(0.1em);
                }
                &:hover .right-arrow {
                    stroke: $orange;
                    cursor: pointer;
                }
            }
        }
    }
}