// fonts
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap'); // fonts
$fontSize: 16px;
$fontFamily: 'Kumbh Sans',
sans-serif;
$fontWeightRegular: 400;
$fontWeightBold: 700;
// colors
$orange: hsl(26,
100%,
55%);
$paleOrange: hsl(25,
100%,
94%);
$darkBlue: hsl(220,
13%,
13%);
$darkGrayishBlue: hsl(219,
9%,
45%);
$grayisBlue: hsl(220,
14%,
75%);
$lightGrayishBlue: hsl(223,
64%,
98%);
$white: hsl(0,
0%,
100%);
$black: hsl(0,
0%,
0%); // - Black (with 75% opacity for lightbox background)
.black-font {
    fill: $black;
}